@using ProjectMinera.Models;
@model IEnumerable<ProjectMinera.Models.ApplicationUser>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
                List<ApplicationUser> Empleados = ViewBag.UsersEmpleados;
                List<ApplicationUser> Usuarios = ViewBag.Users;

}


@if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
{
    <h2>Usuarios</h2>

    <p>
        @Html.ActionLink("Crear Usuario", "Register")
    </p>

    <h2>Usuarios</h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Username / Email</th>
                <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                <th>@Html.DisplayNameFor(model => model.Roles)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Usuarios)
            {
            <tr>
                <td>@Html.DisplayFor(model => user.UserName)</td>
                <td>@Html.DisplayFor(model => user.NombreCompleto)</td>
                <td>@Html.DisplayFor(model => user.Roles.FirstOrDefault().RoleId)</td>
                <td>
                    <a href="@Url.Action("Edit", "Account", new { id = user.Id })">
                        <i class="fa fa-pencil-square-o"></i> Editar
                    </a> |
                    <a href="@Url.Action("Delete", "Account", new { id = user.Id })">
                        <i class="glyphicon glyphicon-remove"></i> Eliminar
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole(ApplicationUser.RoleNames.Gerente))
{
    <h2>Usuarios</h2>

    <p>
        @Html.ActionLink("Crear Empleado", "Register")
    </p>

    <h2>Usuarios</h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Username / Email</th>
                <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Empleados)
            {
                <tr>
                    <td>@Html.DisplayFor(model => user.UserName)</td>
                    <td>@Html.DisplayFor(model => user.NombreCompleto)</td>
                    <td>
                        <a href="@Url.Action("Edit", "Account", new { id = user.Id })">
                            <i class="fa fa-pencil-square-o"></i> Editar
                        </a> |
                        <a href="@Url.Action("Delete", "Account", new { id = user.Id })">
                            <i class="glyphicon glyphicon-remove"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles.FirstOrDefault())
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Roles.FirstOrDefault())
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>*@
